
@{
    ViewBag.Title = "Create";
}

<a class="btn btn-danger" href="/student/index">Index</a>
<a class="btn btn-success" href="/student/create">Create</a>
<h2>Create</h2>
<form>
    <input type="text" class="form-control" placeholder="Name" />
    <input type="text" class="form-control" placeholder="Cgpa" />
    <input type="submit" value="Create" class="btn btn-primary" />
</form>

