
@{
    ViewBag.Title = "Login";
}

@if (TempData["Msg"] != null) { 
    <p class="alert alert-info">@TempData["Msg"]</p>
}

<h2>Login</h2>
<form>
    <input type="text" placeholder="Username" class="form-control" />
    <input type="text" placeholder="Password" class="form-control" />
    <input type="submit" value="Login" class="btn btn-primary" />
</form>

